---
import { basics } from '@cv'
import Section from '@/components/Section.astro'
import Linkedin from '@/icons/Linkedin.astro'
import Github from '@/icons/Github.astro'
import Map from '@/icons/Map.astro'

const { name, label, location, email, phone, profiles } = basics
const { city, region, countryCode } = location

const SOCIAL_ICONS: Record<string, any> = {
  linkedin: Linkedin,
  github: Github
}
---

<Section>
  <div class='container flex flex-row gap-4 flex-wrap'>
    <div class='flex flex-col gap-2 pr-12'>
      <h1>{name}</h1>
      <p>{label}</p>
      <span class='flex items-center'>
        <div class='text-gray-200 rounded-full w-[20px] mr-2'>
          <Map />
        </div>
        {city}, {region}, {countryCode}
      </span>
      <footer class=''>
        {
          email && (
            <a
              href={`mailto:${email}`}
              title='Enviar un email'
              target='_blank'
              rel='noopener norefer'
            >
              {email}
            </a>
          )
        }
        {
          phone && (
            <a
              href={`mailto:${email}`}
              title={`Llamar por teléfono al ${phone}`}
              target='_blank'
              rel='noopener norefer'
            >
              {email}
            </a>
          )
        }
        <div class='flex flex-row gap-2 mt-2'>
          {
            profiles.map(({ network, url, username }) => {
              const Icon = SOCIAL_ICONS[network.toLowerCase()]
              return (
                <a
                  class='w-8 h-8 flex justify-center gap-4 p-1 items-center  bg-white-200 border-solid border-2 border-gray-200  rounded-lg transition duration-700 ease-in-out hover:bg-blue-100'
                  href={url}
                  title={`Perfil de ${network}`}
                  target='_blank'
                  rel='noopener norefer'
                >
                  <div class=' text-gray-400 rounded-full w-[20px]'>
                    <Icon />
                  </div>
                </a>
              )
            })
          }
        </div>
      </footer>
    </div>

    <div>
      <figure>
        <img src='https://via.placeholder.com/150' alt='Foto de perfil' />
      </figure>
    </div>
  </div>
</Section>

<style>
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 128px;
    border-radius: 6px;
  }
</style>
